<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addAttendanceModalLabel">أضافة يومية</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="form-group col-sm-12 w-100">
                <label id="SiteId" class="control-label"></label>
                <select id="SiteId" class="form-control" asp-items="ViewBag.SiteId"></select>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
        <button class="btn btn-primary">اضافه</button>
      </div>
    </div>
  </div>