@model SecurityMS.Core.Models.AttendanceModel
    <div class="row employee-row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-md-4">
            <label class="control-label">@Html.DisplayNameFor(model => model.EmployeeId)</label>
            <select class="form-control employee-name" asp-items="ViewBag.EmployeeId"></select>
            @*<input asp-for="EmployeeId" class="typeahead form-control" type="text" placeholder="اسم الموظف" />*@
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">@Html.DisplayNameFor(model => model.ShiftId)</label>
            <select class="form-control employee-shift" asp-items="ViewBag.ShiftId"></select>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label">@Html.DisplayNameFor(model => model.AttendanceStatusId)</label>
            <select class="form-control employee-status" asp-items="ViewBag.AttendanceStatusId"></select>
        </div>
        <div class="form-group col-md-2 penality d-none">
            <label asp-for="Penality" class="control-label">@Html.DisplayNameFor(model => model.Penality)</label>
            <input asp-for="Penality" type="number" class="form-control employee-penality" value="0" min="0" max="4"/>
        </div>
        <div class="form-group pt-4" col-md-1>
            <a class="btn btn-danger remove-row mt-2"><i class="fas fa-minus text-white"></i></a>
        </div>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    }
