
@{
    ViewData["Title"] = "Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="~/images/لوجو بايونير1.jpg"/>
        </div>
    </div>
</div>
