@model SecurityMS.Infrastructure.Data.Entities.IncomeTaxesMatrix

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>تعديل شريحة</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RangeFrom" class="control-label"></label>
                <input asp-for="RangeFrom" class="form-control" />
                <span asp-validation-for="RangeFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RangeTo" class="control-label"></label>
                <input asp-for="RangeTo" class="form-control" />
                <span asp-validation-for="RangeTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxesPercentage" class="control-label"></label>
                <input asp-for="TaxesPercentage" class="form-control" />
                <span asp-validation-for="TaxesPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxesExemption" class="control-label"></label>
                <input asp-for="TaxesExemption" class="form-control" />
                <span asp-validation-for="TaxesExemption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="حفظ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">رجوع</a>
</div>

