@model SecurityMS.Infrastructure.Data.Entities.ShiftTypesLookup

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>حذف</h1>

<h3>هل أنت متأكد من حذف العنصر؟ </h3>
<div>
    <h4>ShiftTypesLookup</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">العودة للقائمة</a>
    </form>
</div>

<div class="row">
    <div class="col-12 mt-3 text-right">
        <a asp-action="Index" class="btn btn-default mt-3 mx-2">رجوع </a>
        <a asp-controller="Home" asp-action="Main" class="btn btn-default mt-3 mx-2">رجوع للرئيسية</a>
    </div>
</div>