@model SecurityMS.Core.Models.SiteAdvancedPaymentsModel;

<div class="modal fade" id="advancedPaymentModal" tabindex="-1" aria-labelledby="advancedPaymentModal" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <form asp-action="CreateSiteAdvancedPayment" asp-controller="AdvancedPaymentEntities">
                <div class="modal-header">
                    <h5 class="modal-title">اضافه سلفه</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="form-group col-sm-12 w-100">
                            <label id="SiteId" class="control-label"></label>
                            <select id="SiteId" name="SiteId" class="form-control" asp-items="ViewBag.SiteId"></select>
                        </div>
                        <div class="form-group col-12">
                            <label asp-for="Amount" class="control-label"></label>
                            <input asp-for="Amount" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12">
                            <label asp-for="PaymentDate" class="control-label"></label>
                            <input asp-for="PaymentDate" type="date" class="form-control" />
                            <span asp-validation-for="PaymentDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12">
                            <label asp-for="InstallmentDate" class="control-label"></label>
                            <input asp-for="InstallmentDate" type="date" class="form-control" />
                            <span asp-validation-for="InstallmentDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12">
                            <label asp-for="installments" class="control-label"></label>
                            <input asp-for="installments" class="form-control" />
                            <span asp-validation-for="installments" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
                    <button class="btn btn-primary" type="submit">اضافه</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    }