@model SecurityMS.Infrastructure.Data.Entities.SiteEquipmentsEntity

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>SiteEquipmentsEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SiteId" class="control-label"></label>
                <select asp-for="SiteId" class="form-control" asp-items="ViewBag.SiteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentId" class="control-label"></label>
                <select asp-for="EquipmentId" class="form-control" asp-items="ViewBag.EquipmentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentValue" class="control-label"></label>
                <input asp-for="EquipmentValue" class="form-control" />
                <span asp-validation-for="EquipmentValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentCount" class="control-label"></label>
                <input asp-for="EquipmentCount" class="form-control" />
                <span asp-validation-for="EquipmentCount" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="SiteId" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

