@using  SecurityMS.Infrastructure.Data.Entities;
@model Purchases

@{
    ViewData["Title"] = "إضافة أمر شراء";
}

<h1>إضافة أمر شراء</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-6">
                <label asp-for="PurchaseCode" class="control-label"></label>
                <input asp-for="PurchaseCode" readonly class="form-control" />
                <span asp-validation-for="PurchaseCode" class="text-danger"></span>
            </div>
             <div class="form-group col-6">
                <label asp-for="PurchaseDate" class="control-label"></label>
                <input asp-for="PurchaseDate" type="date" class="form-control text-left" />
                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" class ="form-control" asp-items="ViewBag.Suppliers"></select>
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="SupplyTypeId" class="control-label"></label>
                <select asp-for="SupplyTypeId" class ="form-control" asp-items="ViewBag.SupplyTypes"></select>
                <span asp-validation-for="SupplyTypeId" class="text-danger"></span>
            </div>
            @foreach (var item in Model.Items)
            {
                <div id="purchaseItemsList" class="col-12">
                    <partial name="_addPurchaseItem" model="item" />
                </div>
            }
             <div class="col-12 my-3">
                <a class="btn btn-primary" id="addItem">إضافة صنف</a>
            </div>
            <div class="form-group">
                <input value="حفظ" class="btn btn-primary" id="SavePurchase"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">رجوع الي القائمة</a>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $("#SavePurchase").click(function () {
            
            debugger
            var itemsIds = $(".itemsId");
            var quantities = $(".quantities");
            var itemsList = [];
            for (var i = 0; i < itemsIds.length; i++) {
                if (itemsIds[i].value == 0 || quantities[i].value <= 0) {
                    alert("يرجي التأكد من البيانات المدخلة");
                    return;
                }
                var e = {
                    ItemId: parseInt(itemsIds[i].value),
                    Quantity: parseInt(quantities[i].value),
                    
                }
                itemsList.push(e);
            };
            var SupplierId = $("#SupplierId").val();
            var SupplyTypeId = $("#SupplyTypeId").val();
            var PurchaseCode = $("#PurchaseCode").val();
            var PurchaseDate = $("#PurchaseDate").val();
            if (SupplierId == 0 || SupplyTypeId <= 0) {
                alert("يرجي التأكد من البيانات المدخلة");
                return;
            }
            var _list = {
                PurchaseCode: PurchaseCode,
                PurchaseDate: PurchaseDate,
                SupplierId: parseInt(SupplierId),
                SupplyTypeId: parseInt(SupplyTypeId),
                Items: [...itemsList]
            }

            $.ajax({
                url: "/Purchases/CreatePurchase",
                type: "POST",
                data: JSON.stringify(_list),
                dataType: 'json', // lowercase is always preferered though jQuery does it, too.
                contentType: "application/json; charset=utf-8",
                success: function (res) {
                    console.log(res);
                    if (res == true) {
                        window.history.back();
                    }
                    else{
                        alert(res)
                    }
                },
                
                error: function (res){
                        alert("كود الصنف موجود مسبقا")
                }
            });
        })

        $(".remove-row").click(function () {
            $(this).parents('.item-row')[0].remove();
        })

        $("#addItem").click(function () {
            $.get("/Purchases/AddNewPurchaseItem").done(function (response) {
                $("#purchaseItemsList").append(response);
                $("select").select2();
                 $(".remove-row").click(function () {
                    $(this).parents('.item-row')[0].remove();
                })
            })
        })

    </script>
}