@model SecurityMS.Infrastructure.Data.Entities.EquipmentsEntity

@{
    ViewData["Title"] = "إضافه معدات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>إضافه معدات</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="ManufactureId" class="control-label"></label>
                <select asp-for="ManufactureId" class ="form-control" asp-items="ViewBag.ManufactureId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentTypeId" class="control-label"></label>
                <select asp-for="EquipmentTypeId" class ="form-control" asp-items="ViewBag.EquipmentTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentTotalCount" class="control-label"></label>
                <input asp-for="EquipmentTotalCount" class="form-control" />
                <span asp-validation-for="EquipmentTotalCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="حفظ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">رجوع</a>
</div>

