
@{
    ViewData["Title"] = "إداره الموارد البشرية";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container-fluid">
    <h4>إداره الموارد البشرية</h4>
    <div class="row site-main-navigation">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a class="btn btn-dark w-100" asp-action="Index" asp-controller="BlackList">استعلام</a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a class="btn btn-dark w-100" asp-action="Index" asp-controller="Employees">الموظفين</a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a class="btn btn-dark w-100" asp-action="Index" asp-controller="Departments">الأقسام</a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a class="btn btn-dark w-100" asp-action="Index" asp-controller="Jobs">الوظائف</a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a class="btn btn-dark w-100" asp-action="Index" asp-controller="SiteEmployeeAttendance">اليوميات</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <h4 class="col-12">تقارير</h4>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a class="btn btn-dark w-100" asp-action="Index" asp-controller="SecurityPersonsSalaryReports">تقرير الرواتب</a>
        </div>
    </div>
</section>