
@{
    ViewData["Title"] = "الإداره المالية";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container-fluid">
    <h4>الإداره المالية</h4>
    <div class="row site-main-navigation">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a class="btn btn-dark w-100" asp-action="Index" asp-controller="Invoices">الفواتير</a>
        </div>
    </div>
    <hr />
    <div class="row site-main-navigation">
        <h4 class="col-12">تقارير</h4>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a class="btn btn-dark w-100" asp-action="Index" asp-controller="SecurityPersonsSalaryReports">تقرير الرواتب</a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a class="btn btn-dark w-100" asp-action="Index" asp-controller="MonthRevenuePerCompanyReport">تقرير الوارد</a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a class="btn btn-dark w-100" asp-action="Index" asp-controller="AdvancedPaymentEntities">تقرير السلف</a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a class="btn btn-dark w-100" asp-action="Index" asp-controller="Penalties">تقرير الجزائات</a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a class="btn btn-dark w-100" asp-action="Index" asp-controller="Rewards">تقرير المكافأت</a>
        </div>
    </div>
</section>

            <div class="row">
    <div class="col-12 mt-3 text-right">
        <a asp-controller="Home" asp-action="Main" class="btn btn-default mt-3 mx-2">رجوع للرئيسية</a>
    </div>
</div>